<div class='flex-shrink-0 h-full w-[300px] bg-yellow-400 rounded-xl'>
    <div class='flex justify-between'>
      <h3 class='bg-red-600 text-sm px-3 py-1 rounded'><%= locals.data.category %></h3>
      <h4 class='text-sm'><%= locals.data.taskDate %></h4>
    </div>
    <h2 class='mt-5 text-2xl font-semibold'><%= locals.data.taskTitle %></h2>
    <p class='text-sm mt-2'>
    <%= locals.data.taskDescription %>
    </p>
  </div>