<div class=" flex items-end justify-between">
    <h1 class="text-2xl font-bold">
        Hello <br />
        <span class="text-3xl font-semibold">
            <%= locals.firstName || 'Admin' %></span>
    </h1>
 <button onclick="window.location.href='/';" class="bg-red-500 text-lg font-medium text-orange px-5 py-2">Log out</button>
 </div>
